
/* ALL */

html {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

/* .col-sm-8{
    height: 100px;
}
.col-sm-4{
    height: 100px;
} */

/* NAV */

.navbar {
    background-color: #FFEC62;
    height: 70px;
}


.logo {
    background-image: url(../img/logo-bg-white.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.category-logo {
    background-image: url(../img/nine-dots.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}


.add-video-logo {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-image: url(../img/camera-plus.png);
    background-size: cover;
}


.profile-pic-logo {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-image: url(../img/pp.png);
    background-size: cover;
}










.logo {
    font-size: 20px;
}


/* Actualités (index.php) */
.actu {                                
    margin-top: 10vh;
    background-color: #ECECEC;
}

.blog {                                 /* Actualités (index.php) */
    max-height: 120vh;
    overflow: auto;
    background-color: #ECECE9;
    border-radius: 5%;
}

.title-actus {
    text-transform: uppercase;
}

.post {
    background-color: white;
}




/* RIGHT DIV */


 /* (Sections 3 boutons de droite) */
.right-side {                  
    margin-top: 10vh;
}

.div-series {
    margin-top: 5vh;
    background-color: white;
    border-radius: 8%;
}


.block-series{
    height: 150px;
    color: black;
    text-transform: uppercase;
    border-radius: 8%;
}

hr {
    background-color: #FFEC62;
    border-width: 3px;
    margin: 2px auto;
}



 /* Messages de résultat d'envoi de données (contact.php) */

.message-error {                               
    background-color: rgb(255, 200, 200);
}
.message-success {
    background-color: rgb(123, 255, 149);
}


/* PROFIL */

.post_profil{
    overflow: scroll;
}


/* FOOTER */


.footer {
    background-color: #ECECEC; 
    margin-top: 5vh;
    padding-bottom: 5px;
}

.footer-links {
    list-style-type: circle;
}

/* PAGE PROFIL */

.img-fluid {
    height: 10%;
    width: 10%;
}

.bio {
    padding-right: 10%;
    padding-left: 10%;
}

#mesRealisations {
    padding-bottom: 5%;
}




.facebook {
    background-image: url("../img/facebook.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    /* border: 1px solid black; */
}
.twitter {
    background-image: url("../img/twitter.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    /* border: 1px solid black; */
}
.instagram {
    background-image: url("../img/instagram.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    /* border: 1px solid black; */
}

/* CONTACT */



.submit {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #5E5CBA;
}

legend {
    font-size: 18px;
}

