ul{
    width: 100%;
}
li{
    margin: 0 5%;
}




.profil {
    width: 30px;
    height: 30px;
    background-image: url(../img/profil.png);
    background-size: cover;
    border: 1px solid black;
}
.camera-plus {
    width: 30px;
    height: 30px;
    background-image: url(../img/camera-plus.png);
    background-size: cover;
    border: 1px solid black;
}







.actu {
    margin-top: 10vh;
    background-color: #ECECEC;;
}

.right-side {
    margin-top: 10vh;
}

.div-series {
    margin-bottom: 80%;
}
.block-series {
    height: 15vh;
    width: 100px;
    margin: 10vh auto;
    background-color: #ECECEC;
    color: #323232;
}



.footer {
    background-color: #ECECEC; 
}

.footer-links {
    list-style-type: circle;
}

.facebook {
    background-image: url("../img/facebook.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    /* border: 1px solid black; */
}
.twitter {
    background-image: url("../img/twitter.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    /* border: 1px solid black; */
}
.instagram {
    background-image: url("../img/instagram.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    /* border: 1px solid black; */
}
