ul{
    width: 100%;
}
li{
    margin: 0 5%;
}



.actu {
    margin-top: 10vh;
    background-color: #ECECEC;;
}

.right-side {
    margin-top: 10vh;
}

.div-series{
    margin-bottom: 80%;
}
.block-series{
    height: 15vh;
    width: 100px;
    margin: 10vh auto;
    background-color: #ECECEC;
    color: #323232;
}

a, a:hover{
    text-decoration:none;
    color: black;
}

.foooter{
    background-color: #9B9B9B;
}